main {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

.AthleteProfile-header {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.AthleteProfile-headerInfo {
	flex: 1;
}

.AthleteProfile-title {
	font-size: 1.75rem;
	color: var(--cl-accent);
	text-transform: uppercase;
}

.AthleteProfile-statsHeader {
	text-align: center;
}

.AthleteProfile-statsCarousel {
	overflow: auto;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.AthleteProfile-bio {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.AthleteProfile-bioTitle {
	margin-bottom: 1rem;
	font-family: var(--ff-header);
	color: var(--cl-accent);
}

.AthleteProfile-bio p {
	text-align: left;
}
