/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable plugin/selector-bem-pattern */

:root {
	--cl-accent: hsl(41deg 100% 82% / 100%);
	--cl-background: hsl(228deg 9% 11% / 100%);
	--cl-raise: hsl(228deg 9% 13% / 100%);
	--cl-drop: hsl(228deg 9% 9% / 100%);
	--cl-nav-background: hsl(228deg 9% 16% / 100%);
	--cl-foreground: #fff;

	--ff-header: "Libre Bodoni Variable", serif;
	--ff-body: "Faustina Variable", serif;
	--ff-cta: "Playfair Variable", serif;
	--ff-accent: var(--ff-header);

	--fs-icon: 2rem;
	--fs-icon-inline: 1.5rem;
	--fs-placeholder: 0.85rem;
	--fs-cta: 1.25rem;

	--fw-header: 400;

	--fx-full-drop:
		0px 4px 4px 0px rgb(0 0 0 / 25%), 0px -4px 4px 0px rgb(0 0 0 / 25%), 4px 0px 4px 0px rgb(0 0 0 / 25%), -4px 0px 4px 0px rgb(0 0 0 / 25%);
	--fx-vertical-inner: 0px -4px 4px 0px rgb(0 0 0 / 25%) inset, 0px 4px 4px 0px rgb(0 0 0 / 25%) inset;

	--z-navbar: 1000;

	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;

	max-width: 100%;

	font-family: var(--ff-body);
	color: var(--cl-foreground);

	background-color: var(--cl-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-header);
	font-weight: var(--fw-header);
	color: var(--cl-accent);
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible,
a:focus-visible {
	outline-color: var(--cl-accent);
}
